main{
    border: 1px solid red;
    width: 800px;
    height: 500px;
    margin: auto;
    padding: 20px;
}

.izquierda{
    float: left;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.derecha{
    float: right;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px;
}
span{
    padding-left: 40px;
}
